@font-face {
  font-family: "2097";
  src: url("../fonts/2097.ttf") format("truetype");
}

#root,
.world {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  place-content: center;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin-left: auto;
  font-family: "2097";
  color: white;
  text-align: center;

  h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  span {
    position: absolute;
    top: 100%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &::before {
    position: absolute;
    inset: -100vw;
    cursor: pointer;
    content: "";
    z-index: -1;
  }

  &.hasLaunched::before {
    cursor: default;
  }
}
